<h1>Donor Dashboard</h1>

<h2>Your Details</h2>
<p><strong>Name:</strong> <%= @donor.name %></p>
<p><strong>Email:</strong> <%= @donor.email %></p>
<p><strong>Phone Number:</strong> <%= @donor.phone_number %></p>
<%= link_to 'Edit Your Details', edit_user_registration_path(@donor), class: 'btn btn-primary' %>
<%= link_to 'Add New Donation', new_donors_donation_path, class: 'btn btn-success' %>

<h2>Your Donations</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Amount (₱)</th>
    </tr>
  </thead>
  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.id %></td>
        <td><%= donation.donation_date %></td>
        <td><%= donation.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>